# Ignore everything by default
**

# Allow folders
!*/

# Allow all `.zig` files at any subfolder depth
!**/[^/]*.zig

# Ignore test files and common non-solution files
**/test_*.zig
**/.exercism/
**/README.md
**/HELP.md

